<!-- (*) classes assigned or controller -->

<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-ios-drag" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
        </ion-side-menu-content>
        <!-- *controller MenuActiveCtrl /  active items menu -->
        <ion-side-menu side="left" expose-aside-when="large" ng-controller="MenuActiveCtrl">
        <!-- button in header-bar -->
        <ion-header-bar>
          <button class="button button-icon icon ion-ios-compose-outline"></button>
        </ion-header-bar>
        <ion-content>
            <ul class="list">
                <!-- item-avatar user with status -->
                <a class="item item-avatar" nav-clear>
                    <img src="img/78.jpg">
                    <h2>BETA USER</h2>
                    <p>OWN DESCRIPTION GOES HERE</p>
                </a>
                <!-- menu items  with style active, inactive on off -->
                <a class="item item-icon-left" ng-class="{active:isActive('/app/inicio')}" nav-clear menu-close href="#/app/inicio">
                    <i class="icon ion-ios-home-outline"></i>Inicio
                </a>
                <a class="item item-icon-left" ng-class="{active:isActive('/app/listUsers')}" nav-clear menu-close href="#/app/listUsers">
                    <i class="icon ion-ios-list-outline"></i>Asesorias
                </a>
                <!-- *class quit / style logout -->
                <a class="item item-icon-left quit" nav-clear menu-close ng-click="infoApp2()">
                    <i class="icon ion-ios-undo-outline"></i>Cerrar Sesión
                </a>
            </ul>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>